@import './common.scss';

.wrap{
    width: 100%;
    height: 100%;
    font-size: px2rem(16px);
}

.main{
    padding: px2rem(15px);
    >dl{
        @include display(flex);
        dt{
            width: px2rem(100px);
            height: px2rem(150px);
            img{
                width: 100%;
                height: 100%;
            }
        }
        dd{
            flex: 1;
            padding-left: px2rem(10px);
        }
    }
}

.star{
    background: url(http://dishu.xiaomi.com/8lqyfbwW.png);
}