<dl>
    <dt>
        <img src="{{item.cover}}" alt="">
    </dt>
    <dd>
        <h2>{{item.title}}</h2>
        <h3>{{item.authors}}</h3>
        <h4>
            <p class="star star{{item.source}}"></p>
            <p>{{item.rights_id}}个评价</p>
        </h4>
        <h5>价格：{{item.price}}书币/千字</h5>
        <h6>字数：{{#wordcount item.word_count}}{{/wordcount}}万字<b>{{#finish item.finish}}{{/finish}}</b></h6>
    </dd>
</dl>
<div class="btn">
    <a href="">开始阅读</a>
    <a href="">下载</a>
</div>
<p class="info">
    {{item.content}}
</p>
<p class="last">
    最新：{{item.latest}}更新于{{#updataTime item.updated}}{{/updataTime}}
</p>
<div class="tagbox">
    <h2>类别标签</h2>
    {{#each item.tags}}
    <span>{{this}}</span>
    {{/each}}
</div>
<div class="outherbox">
    <h2>类别标签</h2>
    {{#each author_books}}
    <a href="#">
        <img src="{{cover}}" alt="">
        <span>{{title}}</span>
    </a>
    {{/each}}
</div>