.dl-list {
  padding: 0 0.26667rem; }
  .dl-list dl {
    display: flex;
    height: 3.54667rem;
    padding: 0.26667rem 0;
    border-bottom: 1px solid #ddd; }
    .dl-list dl dt {
      width: 2.26667rem;
      height: 3.01333rem;
      position: relative; }
      .dl-list dl dt img {
        width: 100%;
        height: 100%; }
      .dl-list dl dt b {
        position: absolute;
        top: 0;
        left: 0;
        width: 0.69333rem;
        height: 0.69333rem;
        background: orange;
        text-align: center;
        line-height: 0.69333rem;
        color: #fff; }
      .dl-list dl dt em {
        position: absolute;
        bottom: 0;
        left: 0.10667rem;
        font-size: 0.37333rem;
        color: #fff;
        text-shadow: 0 0.05333rem 0.05333rem rgba(0, 0, 0, 0.8); }
    .dl-list dl dd {
      flex: 1;
      overflow: hidden;
      padding-left: 0.26667rem; }
      .dl-list dl dd h3 {
        font-size: 0.37333rem; }
      .dl-list dl dd h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 0.32rem;
        color: rgba(0, 0, 0, 0.6); }
      .dl-list dl dd p {
        padding-top: 0.05333rem; }
        .dl-list dl dd p span {
          display: inline-block;
          vertical-align: middle;
          padding: 0.05333rem 0.08rem;
          color: green;
          border: 0.02667rem solid green;
          border-radius: 0.05333rem;
          font-size: 0.32rem; }

a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset,
img {
  border: 0; }

iframe {
  display: block; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

i,
code,
b {
  font-weight: normal;
  font-style: normal; }

code {
  background: transparent; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .wrap .header {
    width: 100%;
    height: 1.17333rem;
    background: #efeff0;
    border-bottom: 1px solid #ddd;
    padding: 0.16rem 0.26667rem 0 1.17333rem; }
    .wrap .header .top__back {
      width: 1.17333rem;
      height: 1.01333rem;
      background: url(http://dushu.xiaomi.com/x0D0GrWs.png) no-repeat center center;
      background-size: 0.26667rem auto;
      position: absolute;
      left: 0;
      top: 0; }
    .wrap .header .search-input {
      width: 100%;
      color: rgba(0, 0, 0, 0.8);
      background: #fff;
      height: 0.85333rem;
      position: relative;
      padding: 0 1.12rem 0 0.96rem; }
      .wrap .header .search-input b {
        width: 0.85333rem;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url(http://image.read.duokan.com/mfsv2/download/s010/p01TjruXIhgt/PP13pEqhpChuay.png) no-repeat center center;
        background-size: 0.42667rem auto;
        border-right: 1px solid #eee; }
      .wrap .header .search-input .search-input__btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 1.06667rem;
        text-align: center;
        line-height: 0.85333rem;
        font-size: 0.37333rem;
        border-left: 1px solid #eee; }
      .wrap .header .search-input input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none; }
  .wrap .search-cont {
    flex: 1;
    width: 100%;
    overflow: auto; }
    .wrap .search-cont a {
      display: inline-block;
      padding: 0.05333rem 0.16rem;
      font-size: 0.42667rem;
      color: #766d5d;
      border-radius: 0.08rem;
      margin: 0.16rem 0 0 0.16rem; }
      .wrap .search-cont a:nth-child(3n+1) {
        background: #fbebe8; }
      .wrap .search-cont a:nth-child(3n+2) {
        background: #fcedda; }
      .wrap .search-cont a:nth-child(3n+3) {
        background: #e8f9db; }
